.card {
   border : 1px solid #00000099 ;
   border-radius: 5px ;
   max-width: 700px;
   margin: 1rem auto;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
   grid-gap: 20px;
   justify-items: center;
   align-items: center;
   
}
.logo{
   height: auto ;
   width: 56px;
}


.section.projet{
   display: flex;
}